<body>
  <div class="row">
  <div class="pagebody col-md-11">
    <div>
      <div>
        <input
          type="search"
          class="search"
          id="search-box"
          #searchBox
          placeholder="Search for medication"
          autofocus
          autocomplete="off"
          (input)="search(searchBox.value)"
          (keyup.enter)="searchs(); tableMed(searchBox.value)"
          (click)="inputon()"
          required
        />
        <button
          type="button"
          id="btn"
          (click)="searchs(); tableMed(searchBox.value)"
        >
          search
        </button>
        <ul id="search-result" *ngIf="medications$">
          <li *ngFor="let medic of medications$ | async">
            <a id="medicName" (click)="(searchBox.value = medic.drug_name);inputoff();">
              {{ medic.drug_name }}
            </a>
          </li>
        </ul>
      </div>

      <br />

      <div class="categories" id="categories">
        <h4 id="catsearch">Medication by Category</h4>
        <div class="container">
          <button
            class="buttons"
            *ngFor="let cat of Categories"
            routerLink="Category/{{cat.id_category}}">
            <span>{{cat.category_name}}</span>
          </button>
        </div>
      </div>


      <button id="backbtn" (click)="backClicked()"><i class="fa fa-arrow-circle-left" ></i> Back to search</button>
      <div id="table">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="Medication">
              <th mat-header-cell *matHeaderCellDef>Medication</th>
              <td mat-cell *matCellDef="let element">{{ element.drug_name }}</td>
            </ng-container>

            <ng-container matColumnDef="Strength">
              <th mat-header-cell *matHeaderCellDef> Strength </th>
              <td mat-cell *matCellDef="let element"> {{element.strength}} </td>
            </ng-container>

            <ng-container matColumnDef="Strength_Unit">
              <th mat-header-cell *matHeaderCellDef> Strength Unit</th>
              <td mat-cell *matCellDef="let element"> {{element.strengthUnit}}</td>
            </ng-container>

            <ng-container matColumnDef="Form">
              <th mat-header-cell *matHeaderCellDef> Form </th>
              <td mat-cell *matCellDef="let element"> {{element.form}} </td>
            </ng-container>

            <ng-container matColumnDef="Action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element">
                <a id="view" routerLink="/PharmacyMedications/{{element.id_drug }}"
                  >View</a
                >
              </td>
            </ng-container>

            <ng-container matColumnDef="Add_to_bundle">
              <th mat-header-cell *matHeaderCellDef>Add to bundle</th>
              <td mat-cell *matCellDef="let element">
                <button class="icon" id="add{{element.id_drug}}" (click)="onSelect(element)">&plusmn;</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator
            [pageSizeOptions]="[5, 10, 15, 20]"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
